@model IEnumerable<DevSpot.Models.JobPosting>

<div class="list-group">
	@foreach (var jobPosting in Model)
	{
		<div class="list-group-item list-group-item-action">
			<h3>@jobPosting.Title</h3>
			<div>@Html.Raw(jobPosting.Description)</div>
			<p><strong>Company:</strong>@jobPosting.Company</p>
			<p><strong>Location:</strong>@jobPosting.Location</p>
			<p><strong>Date Posted:</strong>@jobPosting.PostedDate.ToShortDateString()</p>
		</div>
	}
</div>

